<section class="container">
  <h2>{{ craftsman.name }}</h2>

  <p>
    Note :
    <span
      *ngFor="let starClass of getStars(craftsman?.note)"
      class="bi"
      [ngClass]="starClass"
    ></span>
  </p>
  <p>Spécialité : <strong> {{ craftsman.specialty }}</strong></p>
  <p>Localisation : <strong>{{ craftsman.location }}</strong></p>
  <p>A propos :</p>
  <p class="about"><strong>{{ craftsman.about }}</strong></p>
  <p>
    Site web :
    <strong><a [href]="craftsman.website" target="_blank">{{ craftsman.website }}</a></strong>
  </p>

<app-form></app-form>
</section>
