<section class="container">
  <h2>{{ craftsman.name }}</h2>

  <p>
    Note :
    <span
      *ngFor="let starClass of getStars(craftsman?.note)"
      class="bi"
      [ngClass]="starClass"
    ></span>
  </p>
  <p>Spécialité : {{ craftsman.specialty }}</p>
  <p>Localisation : {{ craftsman.location }}</p>
  <p>A propos :</p>
  <p class="about">{{ craftsman.about }}</p>
  <p>
    Site web :
    <a [href]="craftsman.website" target="_blank">{{ craftsman.website }}</a>
  </p>

<app-form></app-form>
</section>
