h2 {
    font-family: "Graphik", sans-serif;
    color: #00497c;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

a {
    text-decoration: none;
}

.craftsmanInfo {
    margin: 22px 0px 22px 0px;
    border-style: solid;
    border-color: #0074c7;
    border-width: 0.3px;
}

.craftsmanInfo:hover {
    border-width: 1.5px 1.5px 3.5px 1.5px;
}

h3 {
    font-family: "Graphik", sans-serif;
    color: #00497c;
    font-weight: 600;
    font-size: 16px;
    margin: 10px;
}

p {
    font-family: "Graphik", sans-serif;
    color: #384050;
    margin: 0px 10px 10px 10px;
}