<div class="container">
  <h1>{{title}}</h1>

  <section>
    <h2>Comment trouver mon artisan ?</h2>

    <ol>
      <li>
        Choisissez la catégorie d'artisan que vous recherché dans le menu ou
        entrer une recherche fans la barre de recherche.
      </li>
      <li>Choisissez l'artisan qui correspond à vos attentes.</li>
      <li>
        Une fois l'artisan choisi, vous pouvez le contacter via le formulaire de
        contact sur sa fiche de renseignement.
      </li>
      <li>
        Félicitation ! Vous avez trouvé votre artisan ! Une réponse vous sera
        apportée sous 48h.
      </li>
    </ol>
  </section>

  <section>
    <h2>Les trois artisans du mois : </h2>

    <a href="">
      <div class="craftsmanInfo">
        <h3>Nom de l'artisan ou de l'entreprise</h3>
        <p>Note :</p>
        <p>Spécialité</p>
        <p>Localisation</p>
      </div>
    </a>
    
  </section>
</div>
