h1 {
    font-family: "Graphik", sans-serif;
    color: #00497c;
    font-weight: bolder;
    font-size: 32px;
}

h2 {
    font-family: "Graphik", sans-serif;
    color: #00497c;
    font-weight: bolder;
    font-size: 20px;
}

li {
    font-family: "Graphik", sans-serif;
    color: #384050;
    margin: 10px 0px 10px 0px;
}