<div class="container">
  <h1>{{ title }}</h1>

  <section>
    <h2>Comment trouver mon artisan ?</h2>

    <ol>
      <li>
        Choisissez la catégorie d'artisan que vous recherchez dans le menu ou
        entrez une recherche dans la barre de recherche.
      </li>
      <li>Choisissez l'artisan qui correspond à vos attentes.</li>
      <li>
        Une fois l'artisan choisi, vous pouvez le contacter via le formulaire de
        contact sur sa fiche de renseignement.
      </li>
      <li>
        Félicitations ! Vous avez trouvé votre artisan ! Une réponse vous sera
        apportée sous 48h.
      </li>
    </ol>
  </section>

  <section>
    <h2>Les trois artisans du mois :</h2>

    <div *ngFor="let craftsman of topCraftsmen">
      <a [routerLink]="['/artisan', craftsman.id]">
        <div class="craftsmanInfo">
          <h3>{{ craftsman.name }}</h3>
          <p>
            Note :
            <span
              *ngFor="let starClass of getStars(craftsman.note)"
              class="bi"
              [ngClass]="starClass"
            ></span>
          </p>
          <p>
            Spécialité : <strong>{{ craftsman.specialty }}</strong>
          </p>
          <p>
            Localisation : <strong>{{ craftsman.location }}</strong>
          </p>
        </div>
      </a>
    </div>
  </section>
</div>
